.animated {
  -webkit-animation-name: buttonPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes buttonPulse {
0% { opacity: 0.5 }

50% { opacity: 1 }

100% { opacity: 0.5 }
}

@media only screen and (max-width: 600px) {
    .modal {
      margin-left: 0px !important;
      width: 100% !important;
    }
}

@media only screen and (min-width: 993px) {
    .modal {
      margin-left: 240px !important;
      width: 100% !important;
    }
}

#modalCourse{
  margin-left: 10% !important;
  margin-right: 10% !important;
  width: 80% !important;
}
